/* @font-face {
    font-family         : "Flappy";
    src                 : url("../fonte/flappy.ttf")
} */

#game-over {
    top                 : 180px;
    left                : 25px;
    padding-top         : 10px;
    border-radius       : 10px;
    box-shadow          : 2px 1px 12px black;
    /* font-family         : Flappy; */
    font-size           : 40px;
    color               : black;
    width               : 250px;
    height              : 100px;
    background-color    : white;
    position            : absolute;
    text-align          : center;
    display             : none;
}

#stage {
    border-style: solid;
}