#game-over {
    top                 : 180px;
    left                : 60px;
    padding-top         : 10px;
    border-radius       : 10px;
    box-shadow          : 2px 1px 12px black;
    font-size           : 40px;
    color               : black;
    width               : 300px;
    height              : 100px;
    background-color    : white;
    position            : absolute;
    text-align          : center;
    display             : none;
}

#stage {
    border-style: solid;
}
